include ../includes/mixins
doctype html

html
    head
        meta(charset='utf-8')
        meta(name="viewport",width='1230')
        include ../includes/styles
    block content

    include ../includes/scripts