extends layouts/layout_shop

block content
    .container
        .about_us
            .row
                .text.col-md-5.col-sm-12
                    h1 О нас
                    .info-block.info1
                        p.
                            Пилоты – особенные люди: верные друзья, надёжные партнёры, крепкие характером и силой воли.
                        p.
                            Всё, что их окружает, должно быть им под стать. Приборы должны безотказно работать в любых условиях, под рукой всегда нужно держать жизненно важные предметы первой  необходимости, одежда обязана быть функциональной, удобной  и красивой!
                        br
                        | Быть пилотом – огромный труд и ответственность. Понимая это, мы относимся к подбору товаров для авиаторов  тщательно и кропотливо, используя многолетний опыт всех авиационных площадок , входящих в сеть «Хелипорты России». Качество, надёжность, функциональность – основные  приоритеты при отборе продукции  для бутиков Heliport.
                        br
                        | Наш постоянно расширяющийся ассортимент уже включает и товары для активного отдыха, и сувенирную продукцию, и коллекцию детской одежды от ведущих мировых брендов.
                        p.
                            «Что подарить пилоту?», «Чем удивить свою девушку?», «Как  порадовать ребенка?»   - на эти Ваши вопросы у нас есть множество красивых, оригинальных, модных ответов!
                        br
                        | Отдельно хочется рассказать о нашем собственном бренде HELIPORT. Создавая свою линию одежды, мы думали прежде всего о том, чтобы нашим клиентам было комфортно ходить, ездить и, конечно, ЛЕТАТЬ в любую погоду. Теплые куртки и шлема, удобные брюки и поло, элегантные аксессуары – бренд HELIPORT стал законодателем, эталоном мира лётной моды.
                        br
                        | Мы чутко реагируем на все Ваши пожелания, мы работаем для Вас!
                .video.col-md-6.col-sm-12
                    a(href='#').video_link
                        img(src='./img/heli-video.png')
                        img(src='./img/play.png')
                //.video-modal
                //    video(poster="img/design/sky.jpg", controls)
                //        source(src="video/sky.webm", type="video/webm")
                //        source(src="video/sky.mp4", type="video/mp4")
                //        source(src="video/sky.ogv", type="video/ogg")
            //.info-block.find_us
            //    p 500 метров от МКАД по Новорижскому шоссе
            //    p.last 8 (800) 707-44-77 (круглосуточно)
            //    a(href='#') Схема проезда



