extends layouts/layout_russia

block content
    .container
        .business-russia
            h1 Бизнес
            h2 Задача проекта
            .col-left.col-xs-4
                p Создание крупнейшей сети вертолетных комплексов по всей стране и внедрение новой экономически эффективной бизнес-модели для формирования вертолетной индустрии. Каждый вертолетный комплекс сети это многофункциональный центр с полным набором услуг в сфере малой авиации: покупка и продажа вертолетов от официального дилера и дистрибьютора ведущих мировых производителей, сертифицированная авиационно-техническая база, эксклюзивные условия кредитования, лизинга и страхования, крупнейший авиационно-
                    | учебный центр.
                p Создание многофункциональных вертолетных комплексов в регионах откроет новые возможности и точки роста ведущих отраслей экономики. Это обеспечит создание новых квалифицированных рабочих мест, инвестиций в обучение специалистов малой авиации, развитие туристической сферы, а также позволит использовать существующие комплексы для медицинских целей, мониторинга местности, сферы сельского хозяйства и строительства.
            .col-right.col-xs-8
                .img_wrap
                    .img
                        img.img-gallery.active_img(src='img/business-gallery.png' alt='галерея')
                        img.img-gallery(src='img/business-gallery.png' alt='галерея')
                        img.img-gallery(src='img/business-gallery.png' alt='галерея')
                        img.img-gallery(src='img/business-gallery.png' alt='галерея')
                    a(href='#').prev
                    a(href='#').next

            .col-xs-12.order
                .col-xs-9
                    .column-text
                        p.column Вы можете присоединиться к нам либо уже с существующим проектом, который мы поможем развить и выйти на новый уровень.  Либо вместе с нами работать над созданием совершенно нового проекта. В любом случае, вы сможете воспользоваться всем спектром услуг, предоставляемых одной из крупнейших мультиформатных сетей в сфере вертолетного бизнеса.
                .col-xs-3
                    .make_order
                        a(href='#').send_the_order Отправить заявку
            .col-xs-12.otrayd_angel
                h2 Вертолетный поисково-
                    br
                    | спасательный отряд
                    a(href='#') «Ангел»
                img(src='img/business-otryadA.png' alt='отряд Ангел')

    .popup-window.popup_business
        p
            | Введите ваше имя и телефон.
            br
            | Мы свяжемся с вами в ближайшее время.
        form
            input(type='text' placeholder='Ваше имя').your_name
            input(type='text' placeholder='+7(___)___-__-__').your_tel
            button(type='submit') Отправить







