extends layouts/layout_russia

block content
    .container
        .career
            .col-xs-12.title
                .col.col-xs-4
                    h1 Карьера
                    p
                        | Если Вы любите небо, также как мы.
                        br
                        | Если Вы планируете связать свою жизнь с вертолетной индустрией.
                        br
                        | Если Вы хотите сделать карьеру в малой авиации, то работа в «Хелипорт Москва» для вас.
                        br
                        | Это перспективный, растущий и активно развивающийся бизнес, в котором каждый найдет для себя интересное дело.
                    p Это перспективный, растущий и активно развивающийся бизнес, в котором каждый найдет для себя интересное дело.
                .col.col-xs-4
                    .send_resume
                        p Если Вы хотите работать в «Хелипорт Москва», направляйте Ваши резюме
                            br
                            | по адресу:
                            span office@heliport-moscow.ru
                .col.col-xs-4
                    img(src='img/kid.png' alt='ребенок')



