extends layouts/layout_shop

block content
    .container
        .dostavka
            h1 Доставка и оплата
            .info-block.info1
                h2 Курьерская доставка по Москве:
                p.first-p Доставка курьером по Москве осуществляется в день заказа или на следующий день.
                p Доставка в пределах МКАД:
                    span 450 рублей.
                p Доставка за пределы МКАД:
                    span от 500 рублей.
            .info-block.info2
                h2 Курьерская доставка по  России:
                p Мы можем доставить товар до офиса транспортной компании, услугами которой Вы хотите воспользоваться. Если у Вас нет предпочтений,  товар может быть отправлен Вам с помощью курьерских служб:
                    ul
                        li
                            img(src='./img/pony.png')
                        li
                            img(src='./img/ems.png')
                        li
                            img(src='./img/delovye_linii.png')
                        li
                            img(src='./img/pochta.png')
                 p и других.
            .info-block.info3
                h2 Курьерская доставка по Москве зависит от веса и габаритов вашего заказа:
                p Доставка курьером по Москве осуществляется в день заказа или на следующий день для габаритных заказов размером:
                p.yellow не более 30x30x30 см. и весом не более 10 кг.
                P Заказы, превышающие указанные транспортные характеристики доставляются по отдельному согласованию с клиентом.
                p.title-p Доставка заказов осуществляется по всей территории России.
                p После получения вашего заказа мы свяжемся с Вами и обсудим наиболее удобное время и способ доставки.
                p Оплата производится банковскими картами и наличными при получении, курьеру.
                ul
                    li
                        img(src='./img/visa.png')
                    li
                        img(src='./img/mastercard.png')
                    li
                        img(src='./img/ruble.png')
                    li
                        img(src='./img/dollar.png')
                    li
                        img(src='./img/euro.png')







            //.info-block.find_us
            //    p 500 метров от МКАД по Новорижскому шоссе
            //    p.last 8 (800) 707-44-77 (круглосуточно)
            //    a(href='#') Схема проезда



