extends layout

block content
    .bg-color
    .container
        .main-content
            h1 Подарочные сертификаты
            .row.promo-block
                .col-xs-8
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ex tellus, rhoncus eu mattis ac, eleifend et leo. Vivamus a justo risus. Ut cursus nunc libero, in porttitor magna commodo sit amet.
                    p Cras dignissim sodales cursus. Mauris ipsum lectus, bibendum mollis gravida vitae, semper vel eros. Sed porta luctus faucibus. Suspendisse lorem diam, gravida et risus eu, vestibulum auctor mi. In at ipsum dui. Morbi viverra est sit amet lorem lobortis placerat. Aenean et rutrum sapien. Curabitur condimentum ac neque eu ultrices. Proin vel porta lacus.
                    p Aliquam vulputate lacus ac lacus bibendum, vel elementum sapien volutpat. Curabitur eget condimentum enim. Aenean bibendum vitae justo nec gravida. Phasellus finibus placerat turpis.
            .row
                h2.yellow.bold.col-xs-12 Сертификаты в наличии
                -for(var x = 0; x < 4; x++)
                    .col-xs-12.shop-item.gift-item
                        h2 Мастер-курс
                        .row
                            .col-xs-3
                                .round-block
                            .col-xs-3.gift-info
                                p.time-icon.bold 30 мин
                                p.time-icon.bold 1
                                p.time-icon.bold Robinson R44
                                p.bold.big.yellow.price 33 000 ₽
                            .col-xs-6
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ex tellus, rhoncus eu mattis ac, eleifend et leo. Vivamus a justo risus. Ut cursus nunc libero, in porttitor magna commodo sit amet.
                                p Cras dignissim sodales cursus. Mauris ipsum lectus, bibendum mollis gravida vitae, semper vel eros. Sed porta luctus faucibus. Suspendisse lorem diam, gravida et risus eu, vestibulum auctor mi. In at ipsum dui. Morbi viverra est sit amet lorem lobortis placerat. Aenean et rutrum sapien. Curabitur condimentum ac neque eu ultrices. Proin vel porta lacus.
                                a.btn-yellow.link.bold Заказать