extends layouts/layout_russia

block content
    .container
        .infr_dev.news-russia
            .col-xs-8.title
                    h1 Инфраструктурный девелопмент
                    p Принятие инвестиционной программы развития вертолётного сообщения в России даст импульс развитию сети многофункциональных вертолётных площадок разного формата. Это полноценная готовая инфраструктура, ориентированная на высочайшие стандарты качества.
            .col-xs-12
                    h2 Инфраструктура включает в себя
                    -for(var x = 0; x < 10; x++)
                        .col-xs-4.news-item
                            .img
                            h3 Безопасные посадочные полосы
                            p Принятие инвестиционной программы развития вертолётного сообщения в России даст импульс развитию сети многофункциональных вертолётных площадок разного формата. Это полноценная готовая инфраструктура, ориентированная на высочайшие стандарты качества.
                    .col-xs-7.zayavka
                        p Развитие инфраструктуры идет за счет внедрения принципов профессионального вертолетного девелопмента, построенного на экономически обоснованных бизнес-моделях и экономической целесообразности.
                        div
                            a(href='#').send_the_order2 Отправить заявку

    .popup-window.popup_infr-dev
        p
            | Введите ваше имя и телефон.
            br
            | Мы свяжемся с вами в ближайшее время.
        form
            input(type='text' placeholder='Ваше имя').your_name
            input(type='text' placeholder='+7(___)___-__-__').your_tel
            button(type='submit') Отправить

