extends layouts/layout_russia

block content
    .container
        .our_services.kartochka
            .col-sidebar
                h1 Услуги
                ul.side-bar
                    li
                        a(href="/html/about.html").switch-sidebar-link.link.bold.active-sidebar-link Аренда
                    li
                        a(href="/html/about.html").switch-sidebar-link.link.bold ТО и Сервис
                    li
                        a(href="/html/pilots.html").switch-sidebar-link.link.bold Заправка
                    li
                        a(href="/html/routes.html").switch-sidebar-link.link.bold Страхование
                    li
                        a(href="/html/video.html").switch-sidebar-link.link.bold Лизинг
                    li
                        a(href="/html/about.html").switch-sidebar-link.link.bold Обучение
                    li
                        a(href="/html/press.html").switch-sidebar-link.link.bold Продажа вертолетов
            .main_content
                .wrap-for-rent.business-russia
                    h2 Robinson R44 RAVEN I
                        span от 616 000 $ *
                    a(href='#').ex.heli_active_link Экстерьер
                    a(href='#').int Интерьер
                    .img_wrap
                        .img
                            img.ex-img.img-gallery.active_img(src='img/robinson-ex.png' alt='галерея')
                            img.int-img.img-gallery(src='img/robinson-int.png' alt='галерея')
                        a(href='#').prev
                        a(href='#').next
                    .table-wrap
                        table
                            tr
                                td
                                    p.title Летные данные
                                    p Максимальная скорость:
                                        span 240 км/ч
                                        br
                                        | Крейсерская скорость:
                                        span 210 км/ч
                                        br
                                        | Скороподъемность:
                                        span 5 м/с
                                        br
                                        | Дальность полета:
                                        span 3.50 ч
                                        br
                                        | Длительность полета:
                                        span 3.50 ч
                                        br
                                        | Максимальная высота:
                                        span 4250 м
                                        br
                                        | Экипаж: 1+3
                                td
                                    p.title Габариты
                                    p Длина фюзеляжа:
                                        span 9.07 м
                                        br
                                        | Длина с винтом:
                                        span 11.7 м
                                        br
                                        | Диаметр несущего винта:
                                        span 10.06 м
                                        br
                                        | Высота:
                                        span 3.28 м
                                        br
                                        | Колея шасси:
                                        span 2.16 м
                                td
                                    p.title Силовая установка
                                    p Количество двигателей:
                                        span 1
                                        br
                                        | Тип двигателя:
                                        span V6, поршневой, оппозитный
                                        br
                                        | Модель двигателя:
                                        span Lycoming O-540
                                        br
                                        | Топливо:
                                        span 100 LL
                                        br
                                        | Крейсерская мощность:
                                        span 195
                                        br
                                        | Взлетная мощность:
                                        span 210 л/с
                        ul.other-details
                            li 1+3
                            li 240 км/ч
                            li 619 км

                        .sales_executive
                            img(src='img/sales_executive.png' alt='руководитель отдела продаж')
                            p.name Грановская Екатерина
                            p Руководитель
                                br
                                | отдела продаж
                            p.tel +7 (903) 722-66-11

                    .detailed_info
                        p Легкий многоцелевой вертолет Robinson R44 Raven I рассчитан на четырех человек - трех пассажиров и одного пилота. Это простое в эксплуатации транспортное средство надежно, что подтверждает мировая статистика. В серийном выпуске вертолет уже более 17-ти лет, за это время работа его систем многократно оптимизировалась, с целью сделать полеты эффективными, при низких операционных затратах. Стоит отметить, что Robinson R44 Raven I оснащен поршневым карбюраторным двигателем. Но летные характеристики этого воздушного судна (в частности, аэродинамика и скорость) таковы, что в эксплуатации он не уступает моделям с газотурбинными двигателями.
                        p.last Сиденья в салоне установлены по схеме “два плюс два”; у владельцев есть возможность использовать съемные дублирующие элементы управления. Перегородка между первой и второй парой кресел отсутствует, и это обеспечивает отличный обзор для всех сидящих в салоне. Крейсерская скорость машины – 210 километров в час, средний расход топлива – от 45 до 50 литров в час. Вертолет имеет минимальное число отказов по техническим причинам и летных происшествий, в сравнении с другими легкими вертолетами. Это, в сочетании с относительно доступной ценой, сделало Robinson R44 Raven I одним из самых продаваемых в мире.
                        span * Цена указана для вертолёта в базовой комплектации и может отличаться от конечного предложения.
                        .link_wrap
                            .zayavka
                                a(href='#') Заказать
                            .in_leasing
                                a(href='#') Приобрести в лизинг

                    .other-heli
                        a.available(href='#') В наличии
                        ul
                            li
                                img(src='img/other_heli.png' alt='другие вертолеты в наличии')
                                .info
                                    .title
                                        a(href='#') Robinson R44 Raven I
                                    p Легкий многоцелевой вертолет Robinson R44 Raven I рассчитан на четырех человек - трех пассажиров и одного пилота. Это простое в эксплуатации транспортное средство надежно, что подтверждает мировая статистика. В серийном выпуске вертолет уже более 17-ти лет, за это время работа его систем многократно...
                                    ul.other-details
                                        li 1+3
                                        li 240 км/ч
                                        li 619 км
                                    p.price от 616 000 $
                            li
                                img(src='img/other_heli.png' alt='другие вертолеты в наличии')
                                .info
                                    .title
                                        a(href='#') Robinson R44 Raven I
                                    p Легкий многоцелевой вертолет Robinson R44 Raven I рассчитан на четырех человек - трех пассажиров и одного пилота. Это простое в эксплуатации транспортное средство надежно, что подтверждает мировая статистика. В серийном выпуске вертолет уже более 17-ти лет, за это время работа его систем многократно...
                                    ul.other-details
                                        li 1+3
                                        li 240 км/ч
                                        li 619 км
                                    p.price от 616 000 $
                            li
                                img(src='img/other_heli.png' alt='другие вертолеты в наличии')
                                .info
                                    .title
                                        a(href='#') Robinson R44 Raven I
                                    p Легкий многоцелевой вертолет Robinson R44 Raven I рассчитан на четырех человек - трех пассажиров и одного пилота. Это простое в эксплуатации транспортное средство надежно, что подтверждает мировая статистика. В серийном выпуске вертолет уже более 17-ти лет, за это время работа его систем многократно...
                                    ul.other-details
                                        li 1+3
                                        li 240 км/ч
                                        li 619 км
                                    p.price от 616 000 $
                            li
                                img(src='img/other_heli.png' alt='другие вертолеты в наличии')
                                .info
                                    .title
                                        a(href='#') Robinson R44 Raven I
                                    p Легкий многоцелевой вертолет Robinson R44 Raven I рассчитан на четырех человек - трех пассажиров и одного пилота. Это простое в эксплуатации транспортное средство надежно, что подтверждает мировая статистика. В серийном выпуске вертолет уже более 17-ти лет, за это время работа его систем многократно...
                                    ul.other-details
                                        li 1+3
                                        li 240 км/ч
                                        li 619 км
                                    p.price от 616 000 $
    .be_a_pilot
        .container
            h2
                a(href='#') Стань пилотом
            ul
                li
                    a Мастер-курс
                    p 30 мин теории | 30 мин практики
                    span 35 000 ₽
                li
                    a Мастер-курс
                    p 30 мин теории | 30 мин практики
                    span 35 000 ₽
                li
                    a Мастер-курс
                    p 30 мин теории | 30 мин практики
                    span 35 000 ₽

