extends layout

block content
    .bg-color
    .container
        .main-content
            h1 Обучение пилотированию
            .row
                -for(var x = 0; x < 4; x++)
                    .col-xs-6.course-item
                        .row
                            .col-xs-6
                                .round-block
                            .col-xs-6
                               .center-block
                                   a.link.bold.title Курс первоначальной подготовки
                                   p.time 135 дней
                                   p.time Robinson R44
                                   p.bold.big.yellow 1 260 000 Р
            .row.course-text-block
                .col-xs-5
                    h2.yellow.bold Школа пилотов вертолета
                    p Вы мечтаете стать пилотом? Хотите научиться самостоятельно управлять вертолетом? В «Хелипорт Москва» созданы все условия для исполнения вашей мечты!
                    p Обучение проходит по индивидуальной программе, с учетом ваших пожеланий и возможностей. Занятия по управлению вертолетом проводятся под контролем профессиональных инструкторов и в комфортной обстановке.
                    p Независимо от модели винтокрылой машины, на которой вы планируете летать, техника управления вертолетом требует максимальной отдачи и концентрации. Каждый, кто учится на пилота вертолета, должен понимать: успех зависит от того, насколько ученик готов усвоить теоретическую базу и овладеть практикой пилотажа вертолета. В нашей школе обучение пилотированию вертолета осуществляется в двух направлениях: теоретические занятия и практический курс. Каждый поступивший на курсы пилотирования вертолета, получит возможность в полной мере овладеть необходимым объемом знаний, а после этого – отработать технику пилотирования с опытным инструктором. График занятий составляется индивидуально с учетом вашей занятости.
                    h2.yellow.bold Как для начинающего, так и для опытного
                    p Стоимость обучения в нашей летной школе зависит от нескольких факторов: вашей первоначальной подготовки, типа вертолета, которым вы хотите научиться управлять, количества занятий.
                    p Ниже вы найдете подробную информацию по тарифам: к примеру, обучение полетам на вертолете Robinson по стоимости будет отличаться от уроков пилотирования вертолета Airbus Helicopters. Кроме того, программа и стоимость обучения будут разными для новичка, только начинающего постигать основы управления вертолетом, и для опытного летчика, которому важно повысить свою квалификацию. Для первой категории учеников мы
                .col-xs-5
                    p   предлагаем курс базовых лекций и практические занятия для начинающих. Для тех, кто курсы пилотирования вертолета рассматривает как гарантию будущего карьерного роста, в летной школе разработаны специальные программы. При этом не важно, с какой целью вы хотите получить права пилота – для любителя цена на услуги будет такой же, как и для тех, кто собирается быть профессиональным пилотом.
                    p   Подробнее о процессе обучения, стоимости и деталях учебного процесса, можно уточнить по телефону: 8 (495) 77-000-77.
                    h2.yellow.bold Права на управление вертолетом
                    p По окончании обучения вы сможете сдать экзамен и получить свидетельство пилота гражданской авиации государственного образца. Ко времени окончания курсов вы уже будете хорошо ориентироваться в специфике планирования маршрутов и знать, где можно летать на вертолете, а в каких зонах для этого требуется специальное разрешение.
            .row.clearfix.course-text-block
                .col-xs-12
                    h1 Курсы обучения
                    table.course-table.col-xs-8
                        thead
                            tr
                                td  Курс
                                td  Время
                                td  Стоимость
                        tbody
                            -for(var x = 0; x < 10; x++)
                                tr
                                    td
                                        a(href="").no-link.yellow.bold Первоначальная подготовка пилотов на вертолет Robinson R44 (теория в подарок)
                                    td.description
                                        ul
                                            li
                                                span.bold Теория
                                                | — 112 ч
                                            li
                                                i лекции
                                                |  — 97 ч
                                            li
                                                i практические занятия
                                                |  — 15 ч
                                        ul
                                            li
                                                span.bold Летное обучение
                                                |  — 16,5 ч
                                    td.price
                                        p.bold.yellow 1 260 000 Р

