extends layouts/layout_russia

block content
    .container
        .management.podgotovka
            .col-xs-12.director
                .col-xs-4
                    img(src='img/director.png' alt='Основатель')
                .col-xs-8
                    .wrap
                        .title Александр Анатольевич Хрусталев
                        p Основатель
                        p Это флагманский центр проекта «Хелипорты России» по созданию крупнейшего в Европе вертолётного мультифункционального комплекса, рассчитанного на базирование более 200 единиц авиационной техники.
                        p «Хелипорт Москва» был открыт в конце 2013 года. Всего за год компания смогла добиться впечатляющих результатов, совершив более 5000 вылетов по разным направлениям и приняв участие в нескольких грандиозных вертолётных экспедициях. На данный момент комплекс существует в light-версии и является полноценным вертолётным центром, осуществляющим широкий спектр услуг в сфере малой гражданской авиации, начиная от аэротакси, продажи и аренды авиатехники, заканчивая квалифицированным обслуживанием и обучением пилотов-любителей.
                        p «Хелипорт Москва» обладает крупнейшим собственным вертолётным парком, в составе которого только новые модели вертолёты ведущих мировых производителей: Bell, AirbusHelicopters, Robinson, AgustaWestland. На территории комплекса есть авиационная техническая база, собственный склад запчастей и отапливаемые ангары с возможностью всесезонного хранения техники. Компания предлагает услуги по покупке и аренде вертолётов, а также эксклюзивные условия кредитования, лизинга и страхования.

            .col-xs-12.our_pilots
                h1 Руководство
                .col-xs-12.pilots-list
                    -for(var x = 0; x < 4; x++)
                        .col-xs-6.pilots_item
                            .img
                                img(src='img/pilot1.png' alt='наш пилот')
                            .info
                                .name Соловьев Виталий Анатольевич
                                p Должность
                                p
                                    | 1972 год рождения
                                    br
                                    | Общий налет: более 5000 часов
                                    br
                                    | Образование: Сызранское авиационное летное училище 1995 год
                                    br
                                    | Освоенные вертолеты: Robinson R44, Robinson R66, Airbus Helicopter H125, Bell 407, Agusta Westland 119, Ми-24, Ми-8
            .col-xs-12.our_pilots
                h1 Команда
                .col-xs-12.pilots-list
                    -for(var x = 0; x < 4; x++)
                        .col-xs-6.pilots_item
                            .img
                                img(src='img/pilot1.png' alt='наш пилот')
                            .info
                                .name Соловьев Виталий Анатольевич
                                p Должность
                                p
                                    | 1972 год рождения
                                    br
                                    | Общий налет: более 5000 часов
                                    br
                                    | Образование: Сызранское авиационное летное училище 1995 год
                                    br
                                    | Освоенные вертолеты: Robinson R44, Robinson R66, Airbus Helicopter H125, Bell 407, Agusta Westland 119, Ми-24, Ми-8