extends layouts/layout_russia

block content
    .container
        .our_services
            .col-sidebar
                h1 Услуги
                ul.side-bar
                    li
                        a(href="/html/about.html").switch-sidebar-link.link.bold.active-sidebar-link Аренда
                    li
                        a(href="/html/about.html").switch-sidebar-link.link.bold ТО и Сервис
                    li
                        a(href="/html/pilots.html").switch-sidebar-link.link.bold Заправка
                    li
                        a(href="/html/routes.html").switch-sidebar-link.link.bold Страхование
                    li
                        a(href="/html/video.html").switch-sidebar-link.link.bold Лизинг
                    li
                        a(href="/html/about.html").switch-sidebar-link.link.bold Обучение
                    li
                        a(href="http://www.heliport-moscow.ru/catalog/").link.bold Продажа вертолетов
            .main_content
                ul
                    li.switch_services
                        .rent
                            .wrap-for-rent
                                h2 Аренда
                                ul.choose-block
                                    li
                                        p Выберете вертолет
                                        .select
                                            .offers-select
                                                select
                                                    option Robinson R44
                                                    option Robinson R45
                                                    option Robinson R46
                                                    option Robinson R47
                                    li
                                        p Кол-во человек
                                        .select
                                            .offers-select
                                                select
                                                    option 2 человека
                                                    option 3 человека
                                                    option 4 человека
                                                    option 5 человек
                                    li
                                        p Откуда
                                        .select
                                            .offers-select
                                                select
                                                    option Heliport Moscow
                                                    option Heliport Istra
                                                    option Heliport Kaluga
                                                    option Heliport Saratov
                                    li
                                        p Куда
                                        .select
                                            .offers-select
                                                select
                                                    option Рыбинск
                                                    option Сызрань
                                                    option Москва
                                                    option Тверь
                                .result-block
                                    .title Результат
                                    ul.about-list
                                        li.img
                                            img(src='img/become_pilot.png' alt='вертолет')
                                        li.name
                                            span Robinson R44
                                        li
                                            p 2 человека
                                            p 4 часа
                                            p 340 км
                                        li.price
                                            span 140 000 ₽
                                        li.rent
                                            a(href='#') Арендовать

                                p *цена указана ориентировочная, более точный расчет вам могут предоставить менеджеры Хелипорт-Москва
                                .route
                                    button(type='submit') Составить свой маршрут

                            h3 Стоимость часа аренды
                            .type.result-block
                                .wrap-for-float
                                    .title Robinson Helicopters
                                    ul
                                        li
                                            .img
                                                img(src='img/rent-heli.png' alt='вертолет')
                                            .wrap
                                                .name
                                                    span Robinson R44
                                                .other
                                                    p 3
                                                    p 240км/ч
                                                    p 650 км
                                                .price
                                                    span 33 000 ₽/час
                                                .rent
                                                    a(href='#') Арендовать
                                        li
                                            .img
                                                img(src='img/rent-heli.png' alt='вертолет')
                                            .wrap
                                                .name
                                                    span Robinson R44
                                                .other
                                                    p 2 человека
                                                    p 4 часа
                                                    p 340 км
                                                .price
                                                    span 140 000 ₽
                                                .rent
                                                    a(href='#') Арендовать
                                    .title Eurocopter
                                    ul
                                        li
                                            .img
                                                img(src='img/eurocopter.png' alt='вертолет')
                                            .wrap
                                                .name
                                                    span AS350B3e
                                                .other
                                                    p 3
                                                    p 240км/ч
                                                    p 650 км
                                                .price
                                                    span 33 000 ₽/час
                                                .rent
                                                    a(href='#') Арендовать
                                        li
                                            .img
                                                img(src='img/eurocopter.png' alt='вертолет')
                                            .wrap
                                                .name
                                                    span Eurocopter
                                                .other
                                                    p 2 человека
                                                    p 4 часа
                                                    p 340 км
                                                .price
                                                    span 55 000 ₽
                                                .rent
                                                    a(href='#') Арендовать
                                    .info-block
                                        p Аренда вертолета — это полная свобода действий, свобода и возможность эффективно распределить свое время.
                                        p Для деловой поездки, загородного полета или романтической вертолетной прогулки по Подмосковью мы разработаем индивидуальный маршрут, ориентируясь на Ваши пожелания. Где можно покататься на вертолете в знаменательный день, как арендовать вертолет для загородного отдыха, каким образом организовать деловой перелет – узнайте у специалистов Heliport Moscow.

                                    .popup-window.rent
                                        p
                                            | Остались вопросы?
                                            br
                                            | Мы с удовольствием на них ответим.
                                        form
                                            input(type='text' placeholder='Ваше имя').your_name
                                            input(type='text' placeholder='Ваш телефон').your_tel
                                            button(type='submit') Перезвоните мне
                    li.switch_services
                        .TO
                            h2 ТО И СЕРВИС
                            p У каждого вертолета, как и у любого другого вида техники, есть определенный срок проведения необходимого ТО. Например, техническое обслуживание марки Робинсон (в частности Robinson R 44) – это каждые 50 часов полета; капитальный ремонт – от 2200 часов (около 12 лет активного обслуживания). Своевременное техническое обслуживание вертолетов Robinson, Airbus Helicopters и всех остальных марок – гарантия безопасности пилота и пассажиров.
                                br
                                | Многие считают регулярное ТО «дорогим удовольствием», но по факту полноценное техобслуживание вертолета стоит не таких уж больших денег. Учитывая, что в среднем частные владельцы используют вертолет не более 200 часов в год, сумма годового обслуживания вертолета будет сопоставима со стоимостью обслуживания хорошего автомобиля – около 300 000 рублей ежегодно. А вот ремонт вертолета, в случае отказа приборов или износа деталей, обойдется гораздо дороже.
                            .img
                                img(src='img/to-big.png' alt='ТО и Сервис')
                            p Если вы приобрели винтокрылую машину, не стоит беспокоиться о том, где отремонтировать вертолет в случае возникновения неполадок. В Heliport Moscow все работы проводят опытные профессионалы с соблюдением необходимых авиационных правил. В наличии полный комплект необходимого оборудования для проведения технического обслуживания вертолетов популярных мировых брендов: Robinson, Airbus Helicopters, Bell, AgustaWestland.
                                br
                                | В Heliport Вы также можете приобрести и заказать необходимые запчасти, расходные материалы или аксессуары к вертолетам иностранного производства. Получить необходимую консультацию и узнать о стоимости услуг и запчастей.
                            .zayavka
                                a(href='#') Подать заявку

                    li.switch_services
                        .zapravka
                            h2 Заправка
                            .img
                                img(src='img/zapravka-photo.png' alt='ТО и Сервис')
                            p На территории «Хелипорт Москва» вы можете заправить свой вертолет вне зависимости от модели и типа двигателя – поршневого или газотурбинного. Заправка осуществляется техническим персоналом «Хелипорт Москва».
                            table
                                tr
                                    td Авиационный бензин 100LL
                                    td 112 ₽/л
                                tr
                                    td Керосин ТС-1
                                    td 45 ₽/л
                                tr
                                    td Выезд авиатехника ГСМ с 20:00 до 8:00, осуществление заправки ВС
                                    td 2 000 ₽
                            p Все ночные заправки необходимо сошласовывать
                                br
                                | с Руководителем службы ГСМ по номеру:
                                span +7 910 429-98-24

                    li.switch_services.heliports-of-russia.main-page
                        .insurance
                            h2 Страхование
                            p «Хелипорт Москва» заботится о Вас! Ваши комфорт и безопасность – приоритеты нашей работы.
                                br
                                | Клиентам «Хелипорт Москва» доступны эксклюзивные условия страхования по всем видам рисков. Наши специалисты сделают все, чтобы Вы чувствовали себя спокойно как в небе, так и на земле.
                            p Помимо безопасности полетов и нахождения на взлетно-посадочной площадке, мы обеспечиваем страхование всех возможных рисков, которые могут возникнуть при эксплуатации ВС. Наша ответственность за качество производимых работ также застрахована.
                            p У нас Вы в полной безопасности!
                            p.last Выбирая нас, Вы получаете:
                            ul
                                li - ТОП 5 лучших страховых компаний России
                                li - КАСКО на вертолет от 0,7%
                                li - оформление полиса за 30 мнут
                                li - возможность оплаты в рассрочку
                                li - гибкий график платежей
                                li - круглосуточный консьерж-сервис
                                li - доставка полиса в любую точку Мира
                                li - международный сертификат в день обращения
                            p Расчет стоимости страхового полиса ГО и КАСКО
                            .select-wrap1
                                .select
                                    .offers-select
                                        select
                                            option Robinson R44
                                            option Robinson R45
                                            option Robinson R46
                                            option Robinson R47
                            .select-wrap2
                                .select
                                    .offers-select
                                        select
                                            option Гражданская ответственность
                                            option Гражданская ответственность
                                            option Гражданская ответственность
                            p Итоговая сумма:
                                span 17 500 ₽
                            .zayavka
                                a(href='#') Подать заявку

                    li.switch_services.heliports-of-russia.main-page
                        .insurance.leasing
                            h2 Лизинг
                            p Деньги сегодня дороже, чем деньги завтра — этот устоявшийся афоризм финансистов сподвиг нас к созданию целого набора финансовых продуктов для оптимизации ваших расходов.
                            p Чтобы не изымать деньги из оборота, можно воспользоваться программой лизинга, внося всего лишь часть от стоимости вертолета. При первоначальном взносе от 0% вы получаете возможность оплачивать вертолет в течение семи лет. Причем часть расходов будет компенсирована за счет ускоренной амортизации, отнесения выплат по лизингу на расходы и очень выгодного страхования, уже включенного в стоимость лизинга.
                            p Сбор документов с помощью наших менеджеров займет менее двух дней, все остальные вопросы по оформлению мы берем на себя.
                            p.last Выбирая нас, Вы получаете:
                                ul
                                    li - сопровождение сделки на всех ее этапах
                                    li - удорожание от 4% в год. Лизинговые сделки проводят компании-партнеры на эксклюзивных условиях
                                    li - возможность выбора графика погашения в зависимости от особенностей Вашего бизнеса или персонального финансового планирования:
                                        br
                                        | аннуитетный
                                        br
                                        | дифферинцированный (убывающий, сезонный, равными долями по капиталу - в зависимости от потребностей вашего бизнеса)
                                    li - возможность получения всего комплекса финансовых услуг
                                    li - расходы по лизингу не учитываются как обязательства, что позволяет поддерживать оптимальную структуру баланса и инвестиционную привлекательность компании-лизингополучателя
                                    li - возмещение НДС со своей суммы лизинговых платежей
                            p.call_us Вы можете связаться со специалистом по лизингу по прямому телефону:
                                span +7 (967) 065-28-52
                            .zayavka
                                a(href='#') Рассчитать лизинг

                    li.switch_services
                        .training
                            h2 Обучение пилотированию
                            ul.training-list
                                li
                                    .img
                                        img(src='img/pilotirovanie.png' alt='обучение')
                                    .info
                                        p
                                            a(href='#') Мастер курс «Почувствуй себя пилотом»
                                        p 180 минут
                                        p Robinson R44
                                        p 100 000 ₽
                                li
                                    .img
                                        img(src='img/pilotirovanie.png' alt='обучение')
                                    .info
                                        p
                                            a(href='#') Мастер курс «Почувствуй себя пилотом»
                                        p 180 минут
                                        p Robinson R44
                                        p 100 000 ₽
                                li
                                    .img
                                        img(src='img/pilotirovanie.png' alt='обучение')
                                    .info
                                        p
                                            a(href='#') Мастер курс «Почувствуй себя пилотом»
                                        p 180 минут
                                        p Robinson R44
                                        p 100 000 ₽
                                li
                                    .img
                                        img(src='img/pilotirovanie.png' alt='обучение')
                                    .info
                                        p
                                            a(href='#') Мастер курс «Почувствуй себя пилотом»
                                        p 180 минут
                                        p Robinson R44
                                        p 100 000 ₽
                            .column-text
                                .column
                                    h3.first Школа пилотов вертолета
                                    p Вы мечтаете стать пилотом? Хотите научиться самостоятельно управлять вертолетом? В «Хелипорт Москва» созданы все условия для исполнения вашей мечты!
                                    p Обучение проходит по индивидуальной программе, с учетом ваших пожеланий и возможностей. Занятия по управлению вертолетом проводятся под контролем профессиональных инструкторов и в комфортной обстановке.
                                    p Независимо от модели винтокрылой машины, на которой вы планируете летать, техника управления вертолетом требует максимальной отдачи и концентрации. Каждый, кто учится на пилота вертолета, должен понимать: успех зависит от того, насколько ученик готов усвоить теоретическую базу и овладеть практикой пилотажа вертолета.
                                        br
                                        | В нашей школе обучение пилотированию вертолета осуществляется в двух направлениях: теоретические занятия и практический курс. Каждый поступивший на курсы пилотирования вертолета, получит возможность в полной мере овладеть необходимым объемом знаний, а после этого – отработать технику пилотирования с опытным инструктором. График занятий составляется индивидуально с учетом вашей занятости.
                                    h3 Как для начинающего, так и для опытного
                                    p Стоимость обучения в нашей летной школе зависит от нескольких факторов: вашей первоначальной подготовки, типа вертолета, которым вы хотите научиться управлять, количества занятий.
                                    p Ниже вы найдете подробную информацию по тарифам: к примеру, обучение полетам на вертолете Robinson по стоимости будет отличаться от уроков пилотирования вертолета Airbus Helicopters. Кроме того, программа и стоимость обучения будут разными для новичка, только начинающего постигать основы управления вертолетом, и для опытного летчика, которому важно повысить свою квалификацию. Для первой категории учеников мы  предлагаем курс базовых лекций и практические занятия для начинающих. Для тех, кто курсы пилотирования вертолета рассматривает как гарантию будущего.
                                    h3 Права на управление вертолетом
                                    p По окончании обучения вы сможете сдать экзамен и получить свидетельство пилота гражданской авиации государственного образца. Ко времени окончания курсов вы уже будете хорошо ориентироваться в специфике планирования маршрутов и знать, где можно летать на вертолете, а в каких зонах для этого требуется специальное разрешение.
                                    p
                                        img(src='img/prava.png' alt='права на управление вертолетом')

                            table
                                tr
                                    td Курс
                                    td Время
                                    td Стоимость
                                    td
                                tr
                                    td Первоначальная подготовка пилотов на вертолет Robinson R44 (теория в подарок)
                                    td Теория — 212 ч
                                        br
                                        | лекции — 198 ч
                                        br
                                        | практические занятия — 14 ч
                                        p Летное обучение - 42ч
                                    td 1 260 000 ₽
                                    td.zayavka
                                        a(href='#') Заказать
                                tr
                                    td Первоначальная подготовка пилотов на вертолет Robinson R44 (теория в подарок)
                                    td Теория — 212 ч
                                        br
                                        | лекции — 198 ч
                                        br
                                        | практические занятия — 14 ч
                                        p Летное обучение - 42ч
                                    td 1 260 000 ₽
                                    td.zayavka
                                        a(href='#') Заказать
                                tr
                                    td Первоначальная подготовка пилотов на вертолет Robinson R44 (теория в подарок)
                                    td Теория — 212 ч
                                        br
                                        | лекции — 198 ч
                                        br
                                        | практические занятия — 14 ч
                                        p Летное обучение - 42ч
                                    td 1 260 000 ₽
                                    td.zayavka
                                        a(href='#') Заказать
                                tr
                                    td Первоначальная подготовка пилотов на вертолет Robinson R44 (теория в подарок)
                                    td Теория — 212 ч
                                        br
                                        | лекции — 198 ч
                                        br
                                        | практические занятия — 14 ч
                                        p Летное обучение - 42ч
                                    td 1 260 000 ₽
                                    td.zayavka
                                        a(href='#') Заказать
                                tr
                                    td Первоначальная подготовка пилотов на вертолет Robinson R44 (теория в подарок)
                                    td Теория — 212 ч
                                        br
                                        | лекции — 198 ч
                                        br
                                        | практические занятия — 14 ч
                                        p Летное обучение - 42ч
                                    td 1 260 000 ₽
                                    td.zayavka
                                        a(href='#') Заказать
                            .our_pilots.podgotovka
                                h2 Наши пилоты
                                .pilots-list
                                    -for(var x = 0; x < 4; x++)
                                        .col-xs-6.pilots_item
                                            .img
                                                img(src='img/pilot1.png' alt='наш пилот')
                                            .info
                                                .name Соловьев Виталий Анатольевич
                                                p
                                                    | 1972 год рождения
                                                    br
                                                    | Общий налет: более 5000 часов
                                                    br
                                                    | Образование: Сызранское авиационное летное училище
                                                    br
                                                    | 1995 год
                                                    br
                                                    | Освоенные вертолеты: Robinson R44, Robinson R66, Airbus Helicopter H125, Bell 407, Agusta Westland 119, Ми-24, Ми-8

                            .our_pilots.podgotovka.social_responsibility.cert
                                h2 Сертификаты
                                .video
                                    .img.gallery_link
                                        a(href='img/sert.png' rel='prettyPhoto[sert]').first-link
                                            img(src='img/sert.png')
                                        a(href='img/sert.png' rel='prettyPhoto[sert]').first-link
                                            img(src='img/sert.png')
                                        a(href='img/sert.png' rel='prettyPhoto[sert]').first-link
                                            img(src='img/sert.png')
                                        a(href='img/sert.png' rel='prettyPhoto[sert]').first-link
                                            img(src='img/sert.png')
                            .title.refs
                                h2 Отзывы
                                .col-xs-12.pilots-list
                                    -for(var x = 0; x < 4; x++)
                                        .col-xs-6.pilots_item
                                            .img
                                                img(src='img/jerard.png' alt='Отзыв')
                                            .info
                                                .name Джерард Батлер
                                                    br
                                                    span Голливудский актер
                                                p Для деловой поездки, загородного полета или романтической вертолетной прогулки по Подмосковью мы разработаем индивидуальный маршрут, ориентируясь на Ваши пожелания. Где можно покататься на вертолете в знаменательный день, как арендовать вертолет для загородного отдыха, каким образом организовать деловой перелет – узнайте у специалистов Heliport Moscow.
                            .popup-window.rent
                                p
                                    | Остались вопросы?
                                    br
                                    | Мы с удовольствием на них ответим.
                                form
                                    input(type='text' placeholder='Ваше имя').your_name
                                    input(type='text' placeholder='Ваш телефон').your_tel
                                    button(type='submit') Перезвоните мне





