extends layouts/layout_parts

block content
    .producers
        .col-xs-12.title
            h1 Бренды
        .col-xs-12
            .col-xs-6
                .img
                    img(src='img/robinson-parts.png' alt='Robinson logo')
                .info
                    p Robinson используют знания и опыт, полученные в течение 20 лет работы с обувью, и их цель была проста: создать уникальную и красивую обувь. Обувь чрезвычайно комфортную, чтобы она со временем становилась красивее. Обувь с душой.
                    p Обувь производится на современном заводе. Сочетая традиционное ремесло и современную экономическую эффективность промышленного производства,  ремесленники Satorisan работают с высококачественными материалами и создают обувь исключительного качества. Всегда оставаясь верными духу компании, они следуют  собственному тренду, а не тенденциям моды.
            .col-xs-6
                .img
                    img(src='img/airbus-logo.png' alt='Airbus logo')
                .info
                    p Airbus Helicopters за счет отсутствия линзовых ободков будут органично смотреться и на мужском, и на женском лице.
                    p Заушники анатомической формы устроены так, чтобы обеспечить владельцу максимальный оптический комфорт. Элегантный стиль австрийских очков Silhouette  наилучшим образом сочетается с высочайшим качеством исполнения, а отсутствие элементов крепежа делает их крайне надежными в эксплуатации.
                    p Многолетняя совместная работа фирмы Silhouette с NASA  позволила изготовить оправу  из сверхлёгкого и ультратехнологичного материла бета-титан, в результате очки Sihouette признаны самыми лёгкими очками «авиатор» в мире.
        .col-xs-12
            .col-xs-6
                .img
                    img(src='img/be-logo.png' alt='Be! logo')
                .info
                    p Bell Helicopters является командой специалистов обувной индустрии. Они используют знания и опыт, полученные в течение 20 лет работы с обувью, и их цель была проста: создать уникальную и красивую обувь. Обувь чрезвычайно комфортную, чтобы она со временем становилась красивее. Обувь с душой.
                    p Обувь производится на современном заводе. Сочетая традиционное ремесло и современную экономическую эффективность промышленного производства,  ремесленники Satorisan работают с высококачественными материалами и создают обувь исключительного качества. Всегда оставаясь верными духу компании, они следуют  собственному тренду, а не тенденциям моды.
            .col-xs-6
                .img
                    img(src='img/augusta-w.png' alt='Agusta logo')
                .info
                    p Augusta Westland верхлегкие титановые оправы австрийской фирмы Silhouette – это элита в мире очков. Они абсолютно универсальны: за счет отсутствия линзовых ободков будут органично смотреться и на мужском, и на женском лице.
                    p Заушники анатомической формы устроены так, чтобы обеспечить владельцу максимальный оптический комфорт. Элегантный стиль австрийских очков Silhouette  наилучшим образом сочетается с высочайшим качеством исполнения, а отсутствие элементов крепежа делает их крайне надежными в эксплуатации. Многолетняя совместная работа фирмы Silhouette с NASA  позволила изготовить оправу  из сверхлёгкого и ультратехнологичного материла бета-титан, в результате очки Sihouette признаны самыми лёгкими очками «авиатор» в мире.
