extends layouts/layout_parts

block content
    .zakaz_gotov
        h1 Результат заказа
        ul.menu-list
            li
                a(href='#') Учетная запись
            li
                a(href='#') Wishlist
            li
                a(href='#') Заказы
            li
                a(href='#') Выход
        p.first.result-p Ваш заказ
            span №23
            | от
            span 02.02.2016 16:18:29
            span успешно создан
        P Вы можете следить за выполнением своего заказа в
            a(href='#') персональном разделе сайта.
        p
            | Обратите внимание, что для входа в этот раздел вам
            br
            | необходимо будет ввести логин и пароль пользователя сайта.
        p.purchase Оплата заказа:
            span банковская карта
        .pay
            a(href='#') Оплатить
        .back_link
            a(href='#') — Вернуться к заказу