extends layouts/layout_parts

block content
    .parts_main-slider
        .slide
            .img
                img(src='img/heli-parts/banner_parts2.png' alt='баннер').main-slider-desktop
                img(src='img/heli-parts/banner-mobile.png' alt='баннер').main-slider-mobile
            //.img
            //    img(src='img/heli-parts/main-slider-photo.png' alt='слайдер')
            //.title
            //    h1 Самый большой склад запчастей
            //    p Более 3000 запчастей на складе
        .slide
            .img
                img(src='img/heli-parts/banner_parts2.png' alt='баннер').main-slider-desktop
                img(src='img/heli-parts/banner-mobile.png' alt='баннер').main-slider-mobile
            //.img
            //    img(src='img/heli-parts/main-slider-photo.png' alt='слайдер')
            //.title
            //    h1 Самый большой склад запчастей
            //    p Более 3000 запчастей на складе
        .slide
            .img
                img(src='img/heli-parts/banner_parts2.png' alt='баннер').main-slider-desktop
                img(src='img/heli-parts/banner-mobile.png' alt='баннер').main-slider-mobile
            //.img
            //    img(src='img/heli-parts/main-slider-photo.png' alt='слайдер')
            //.title
            //    h1 Самый большой склад запчастей
            //    p Более 3000 запчастей на складе


    .section-list
        h2 Запчасти
        .section
            a(href='#')
                img(src='img/heli-parts/bell_pic.png' alt='').bottom
            a(href='#') Для вертолетов
                br
                span ROBINSON
            ul
                li
                    a(href='#') R44 Raven I
                li
                    a(href='#') R44 Raven II
                li
                    a(href='#') R66
                li
                    a(href='#') R22
                li
                    a(href='#') R44

        .section
            a(href='#')
                img(src='img/heli-parts/bell_pic.png' alt='').bottom
            a(href='#') Для вертолетов
                br
                span ROBINSON
            ul
                li
                    a(href='#') R44 Raven I
                li
                    a(href='#') R44 Raven II
                li
                    a(href='#') R66
                li
                    a(href='#') R22
                li
                    a(href='#') R44

        .section
            a(href='#')
                img(src='img/heli-parts/bell_pic.png' alt='').bottom
            a(href='#') Для вертолетов
                br
                span ROBINSON
            ul
                li
                    a(href='#') R44 Raven I
                li
                    a(href='#') R44 Raven II
                li
                    a(href='#') R66
                li
                    a(href='#') R22
                li
                    a(href='#') R44

        .section
            a(href='#')
                img(src='img/heli-parts/bell_pic.png' alt='').bottom
            a(href='#') Для вертолетов
                br
                span ROBINSON
            ul
                li
                    a(href='#') R44 Raven I
                li
                    a(href='#') R44 Raven II
                li
                    a(href='#') R66
                li
                    a(href='#') R22
                li
                    a(href='#') R44

        .section
            a(href='#')
                img(src='img/heli-parts/bell_pic.png' alt='').bottom
            a(href='#') Для вертолетов
                br
                span ROBINSON
            ul
                li
                    a(href='#') R44 Raven I
                li
                    a(href='#') R44 Raven II
                li
                    a(href='#') R66
                li
                    a(href='#') R22
                li
                    a(href='#') R44

        .section
            a(href='#')
                img(src='img/heli-parts/bell_pic.png' alt='').bottom
            a(href='#') Для вертолетов
                br
                span ROBINSON
            ul
                li
                    a(href='#') R44 Raven I
                li
                    a(href='#') R44 Raven II
                li
                    a(href='#') R66
                li
                    a(href='#') R22
                li
                    a(href='#') R44

        .section
            a(href='#')
                img(src='img/heli-parts/bell_pic.png' alt='').bottom
            a(href='#') Для вертолетов
                br
                span ROBINSON
            ul
                li
                    a(href='#') R44 Raven I
                li
                    a(href='#') R44 Raven II
                li
                    a(href='#') R66
                li
                    a(href='#') R22
                li
                    a(href='#') R44

        .section
            a(href='#')
                img(src='img/heli-parts/bell_pic.png' alt='').bottom
            a(href='#') Для вертолетов
                br
                span ROBINSON
            ul
                li
                    a(href='#') R44 Raven I
                li
                    a(href='#') R44 Raven II
                li
                    a(href='#') R66
                li
                    a(href='#') R22
                li
                    a(href='#') R44

        .section
            a(href='#')
                img(src='img/heli-parts/bell_pic.png' alt='').bottom
            a(href='#') Для вертолетов
                br
                span ROBINSON
            ul
                li
                    a(href='#') R44 Raven I
                li
                    a(href='#') R44 Raven II
                li
                    a(href='#') R66
                li
                    a(href='#') R22
                li
                    a(href='#') R44

    .news-main-slider
        h2 Новости
        .news-slider-wrap
            .news-slider
                .img
                    img(src='img/heli-parts/news-pic.png' alt='новости')
                .news_wrap
                    a(href='#') Воздушное авиа-шоу для женщин от пилотов Хелипорта
                    p.date 08.03.2016
                    p Сегодня пилоты аэроклуба «Хелипорт Москва» поздравили всех женщин с 8 марта.
            .news-slider
                .img
                    img(src='img/heli-parts/news-pic.png' alt='новости')
                .news_wrap
                    a(href='#') Воздушное авиа-шоу для женщин от пилотов Хелипорта
                    p.date 08.03.2016
                    p Сегодня пилоты аэроклуба «Хелипорт Москва» поздравили всех женщин с 8 марта.
            .news-slider
                .img
                    img(src='img/heli-parts/news-pic.png' alt='новости')
                .news_wrap
                    a(href='#') Воздушное авиа-шоу для женщин от пилотов Хелипорта
                    p.date 08.03.2016
                    p Сегодня пилоты аэроклуба «Хелипорт Москва» поздравили всех женщин с 8 марта.
            .news-slider
                .img
                    img(src='img/heli-parts/news-pic.png' alt='новости')
                .news_wrap
                    a(href='#') Воздушное авиа-шоу для женщин от пилотов Хелипорта
                    p.date 08.03.2016
                    p Сегодня пилоты аэроклуба «Хелипорт Москва» поздравили всех женщин с 8 марта.
            .news-slider
                .img
                    img(src='img/heli-parts/news-pic.png' alt='новости')
                .news_wrap
                    a(href='#') Воздушное авиа-шоу для женщин от пилотов Хелипорта
                    p.date 08.03.2016
                    p Сегодня пилоты аэроклуба «Хелипорт Москва» поздравили всех женщин с 8 марта.

    .brands-wrap
        h2 Бренды
        .brand-logos_parts
            .img-wrap
                img(src='./img/robinson-logo2.png' alt='Лого')
            .img-wrap
                img(src='./img/airbus-logo.png' alt='Лого')
            .img-wrap
                img(src='./img/be-logo.png' alt='Лого')
            .img-wrap
                img(src='./img/logo-pic.png' alt='Лого')
            .img-wrap
                img(src='./img/robinson-logo2.png' alt='Лого')
            .img-wrap
                img(src='./img/airbus-logo.png' alt='Лого')
            .img-wrap
                img(src='./img/be-logo.png' alt='Лого')
            .img-wrap
                img(src='./img/logo-pic.png' alt='Лого')