extends layouts/russia-404

block content
    body.page404.shop-page404
        .wrap
            .img404
                img(src='img/img404.png' alt='')
            .menu-list
                .skobka
                    img(src='img/skobka.png')
                .logo-heli
                    img(src='img/heli_shop_logo.png' alt='лого')
                ul
                    li
                        a(href='#') О нас
                    li
                        a(href='#') Партнерство
                    li
                        a(href='#') Производители
                    li
                        a(href='#') Услуги
                    li
                        a(href='#') Пресс-центр
                    li
                        a(href='#') Карьера
                    li
                        a(href='#') Контакты
            .text
                p Вы ошиблись адресом. Нажмите на любую ссылку справа.
                p Если вы уверены, что такой страницы нет по нашей вине, пожалуйста, сообщите нам об этом и не забудьте указать адрес, с которого вы сюда попали.
                p
                    | 8 800 707-44-77
                    br
                    a(href='#') main@heliportsofrussia.ru