extends layouts/layout_russia

block content
    .container
        .social_responsibility
            .col-xs-12.title
                h1 Социальная ответственность
            .col-xs-12.title-photo
                h2 Вертолетный поисково-
                    br
                    | спасательный отряд
                    br
                    span АНГЕЛ
                img(src='img/heliinclouds.png' alt='Вертолеты')
            .col-xs-12.column-text
                p.column
                    | Вертолетный поисково-спасательный отряд "Ангел" (ВПСО «Ангел») создан в 2015 году на базе вертолётного центра «Хелипорт Москва» при поддержке АОПА-Россия. Это добровольная некоммерческая организация, которая занимается поиском пропавших людей с помощью вертолетов.
                    br
                    | К операциям по поиску ВПСО «Ангел» могут быть привлечены все желающие частные пилоты. С начала весны 2015 года пилоты ВПСО «Ангел» помогли найти 113 человек, 9 из которых – дети.
            .col-xs-12
                p.follow
                    | Следите за новостями ВПСО «Ангел» в
                    a(href='#') Facebook
            .col-xs-12.tels
                .col-xs-4
                    p
                        | При возникновении экстренных случаев, когда
                        br
                        | вам нужна помощь а поиске пропавших людей,
                        br
                        | необходимо обратиться:
                .col-xs-6
                    p
                        | круглосуточно по бесплатному телефону в Москве:
                        span 8 495 646-86-39
                        br
                        | из любого региона РФ бесплатно по номеру:
                        span 8 800 700-54-52
                        br
                        | по телефону МЧС:
                        span 112
            .col-xs-12.our_partners
                p ВПСО «Ангел» проводит поисковые мероприятия при полном взаимодействии с ведущими поисковыми службами страны:
                ul
                    li
                        img(src='img/liza-alert.png' alt='Лиза Алерт')
                        p Лиза Алерт
                    li
                        img(src='img/mhs.png' alt='МЧС')
                        p
                            | Министерство по
                            br
                            | чрезвычайным ситуациям
                            br
                            | Российской Федерации.
                    li
                        img(src='img/kr-krest.png' alt='Красный крест')
                        p
                            | Российский
                            br
                            | КРасный Крест

            .col-xs-12.title.video
                h2 ВИДЕО
                -for(var x = 0; x < 6; x++)
                    .col-xs-4.news-item
                        .img.video_link
                            img(src='img/video2.png' alt='Видео')
                            img(src='img/video-icon.png' alt='Иконка видео')
                        //a.round-photo(style="background-image: url(img/basic.jpg)")
                        a.link.bold Заседание комиссии при Президенте
                        p 21.06.2015
                        p.small-text Самый крупный инвестор Реутова – компания «Хелипорты России» принесла в городской бюджет в 2015 году 60 миллионов рублей, сообщил глава Реутова Сергей Юров во время торжественного приема, посвященного.
                .col-xs-12.watch_more
                    a(href='#') Посмотреть еще
            .col-xs-12.join_us
                .col-xs-3
                    p Поддержка с воздуха необходима в том случае, когда поиск ведется на большой территории. Один вертолетный экипаж может заменить десятки волонтеров.
                    p Частные пилоты могут присоединиться к поискам в случае необходимости.
                    p На совершенно бескорыстной основе наши вертолётчики оказывают содействие в спасательных операциях.
                    p Если вы хотите стать добровольным участником спецотряда «Ангел», напишите свои координаты, чтобы мы могли включать вас в информационную рассылку по чрезвычайным ситуациям.
                .col-xs-9
                    img(src='img/our_team.png' alt='Вступить в наши ряды')
                    .join_link
                        a(href='#') Вступить в отряд

            .col-xs-12.title.video
                h2.photo ФОТО
                -for(var x = 0; x < 6; x++)
                    .col-xs-4.news-item
                        .img.gallery_link
                            a(href='img/basic.jpg' rel='prettyPhoto[gallery]').first-link
                            a(href='img/business-gallery.png' rel='prettyPhoto[gallery]')
                            img(src='img/wheel.png' alt='Видео')
                            .gallery
                                p.gallery-link 15

                        a.link.bold Заседание комиссии при Президенте
                .col-xs-12.watch_more.watch_more-photos
                    a(href='#') Посмотреть еще



            .video-modal
                video(poster="img/design/sky.jpg", controls)
                    source(src="video/sky.webm", type="video/webm")
                    source(src="video/sky.mp4", type="video/mp4")
                    source(src="video/sky.ogv", type="video/ogg")




