extends layouts/layout_shop

block content
    .container
        .zakaz_gotov
            h1 Заказа сформирован
            ul.menu-list
                li
                    a(href='#') Корзина
                li
                    a(href='#') Учетная запись
                li
                    a(href='#') Whishlist
                li
                    a(href='#') Заказы
                li
                    a(href='#') Выход
            p.first Ваш заказ
                span №23
                | от
                span 02.02.2016
            P Вы можете следить за выполнением своего заказа в
                a(href='#') Персональном разделе сайта.
            p
                | Обратите внимание, что для входа в этот раздел вам
                br
                | необходимо будет ввести логин и пароль пользователя сайта.
            p.purchase Оплата заказа:
                span Банковская карта
            .pay
                a(href='#') Оплатить
            .back_link
                a(href='#') — Вернуться к заказу

            //    p 500 метров от МКАД по Новорижскому шоссе
            //    p.last 8 (800) 707-44-77 (круглосуточно)
            //    a(href='#') Схема проезда



